body {
	background-color: #f7f7f7;
	font-family: arial;
	padding: 0;
	margin: 0;
	padding-bottom: 128px;
}

li {
	margin-top: 8px;
	margin-bottom: 8px;
}

.ma0 {
	margin: 0;
}

.mh8 {
	margin-left: 8px;
	margin-right: 8px;
}

.mv16 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.mt16 {
	margin-top: 16px;
}

.ph16 {
	padding-left: 16px;
	padding-right: 16px;
}

.pa8 {
	padding: 8px;
}

.pa16 {
	padding: 16px;
}


.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.w-40 {
	width: 40%;
}

.maw768 {
	max-width: 768px;
}

.maw1152 {
	max-width: 1152px;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.tl {
	text-align: left;
}

.pointer {
	cursor: pointer;
}

.relative {
	position: relative;
}

.top--72 {
	top: -72px;
}

.blue {
	color: #44a1f8;
}

.hover-dark-blue:hover {
	color: #186bf0;
}

.f12 {
	font-size: 12px;
}
