body {
	background-color: #f7f7f7;
	font-family: arial;
	padding: 0;
	margin: 0;
	padding-bottom: 128px;
}

li {
	margin-top: 8px;
	margin-bottom: 8px;
}

.chart-container {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .13);
	background-color: white;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	padding: 16px;
	margin: 8px;
	box-sizing: border-box;
}

.active-link {
	text-decoration: underline;
}

.link {
	text-decoration: none;
}

.mh8 {
	margin-left: 8px;
	margin-right: 8px;
}

.mv16 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.mt16 {
	margin-top: 16px;
}

.ph16 {
	padding-left: 16px;
	padding-right: 16px;
}

.dib {
	display: inline-block;
}

.miw-256 {
	min-width: 256px;
}

.maw-512 {
	max-width: 512px;
}

.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.w-40 {
	width: 40%;
}

.maw768 {
	max-width: 768px;
}

.maw1152 {
	max-width: 1152px;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.tl {
	text-align: left;
}

.pointer {
	cursor: pointer;
}

.flex-container: {
	display: flex;
}

.fr {
	float: right;
}
