body {
	font-family: arial;
	padding-bottom: 128px;
}

li {
	margin-top: 8px;
	margin-bottom: 8px;
}

.active-link {
	text-decoration: underline;
}

.link {
	text-decoration: none;
}

.mh8 {
	margin-left: 8px;
	margin-right: 8px;
}

.mv16 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.mt16 {
	margin-top: 16px;
}

.ph16 {
	padding-left: 16px;
	padding-right: 16px;
}

.dib {
	display: inline-block;
}

.miw-256 {
	min-width: 256px;
}

.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.maw768 {
	max-width: 768px;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.tl {
	text-align: left;
}

.pointer {
	cursor: pointer;
}
